version: '3.8'

services:
  server:
    build: .
    ports:
      - "18080:18080"
    volumes:
      - ./ecorecycle_lab3.db:/app/build/ecorecycle_lab3.db
    container_name: ecorecycle_server
    restart: always
